body{
    background-color: lightyellow;
}
#text{
    color: red;
}
button{
    background-color: white;
    color: red;
    font-size: larger;
    border-radius: 10px;
}

#time{
    height:40px;
    width: 260px;
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}
.button{
    padding: 10px;
    height:20px;
    width: 100px;
    text-align: center;
    border: 2px red;
    font-size: 20px;
    background-color: orange;
    color: red;
    cursor: pointer;
}
#textHide{
    color: darkviolet;
    font-weight: bolder;
    font-size: 30px;
}